

body {
  background-color: #fcfcfc; 
  color: #111111; 
  font-family: sans-serif;
}

header {
  background-color: #f2f6ff; 
  color: #111111;
  
  position: sticky;
  top: 0;
}



h2 {
  color: #0b2545; 
}



table {
  color: #111111;
  border-color: #e6e9ef; 
}

button {
  background-color: #788dba; 
  color: #ffffff; 
}

hr {
  background-color: #e6e9ef;
  height: 1px;
  border: none;
}

footer {
  color: #6b7280; 
}


#profileImg{
  border: 1px solid #e6e9ef; 
  display: block;
  margin: 0.5rem 0;
  width: 140px; 
  height: auto;
}
